.board {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(15, 0fr);
}

.tile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  width: 40px;
  height: 40px;
  border-style: solid;
}

.container {
  display: inline-block;
}
